@import '../../abstract/variables';

.jobs .job-cards {
    margin-left: 34px;
    flex-grow: 1;

    .job-card {
        margin-bottom: 21px;
        height: 247px;

        background-color: $color-white;
        border-radius: 40px;

        transition: $slow-transition;

        box-sizing: border-box;
        padding: 16px;

        display: flex;
        justify-content: space-between;

        .job-card-content {
            margin: 48px 0 48px 48px;

            transition: 0s;

            .job-card-title {
                font-size: 30px;
                font-weight: 700;
                line-height: 40px;
                color: $color-dark;

                position: relative;

                .notification {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background: $gradient-1;
        
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 18px;
                    color: $color-white;
                }
            }
    
            .job-card-desc {
                margin-top: 4px;
    
                font-size: 16.5px;
                font-weight: 400;
                line-height: 32px;
                color: $color-text-light-mode;
            }
    
            .small-arrow {
                margin-top: 29px;

                width: 20px;
                height: 14px;

                background-image: url('../images/arrow-right-small.png');
                background-size: cover;
            }
        }

        .job-card-image {
            width: 215px;
            height: 215px;

            border-radius: 40px;
            background: $color-primary url('../images/visual-designer-no-bg.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:hover {
            background-color: $color-dark;
            transition: $slow-transition;
        }

        &:hover .small-arrow {
            background-image: url('../images/arrow-right-small-white.png');
        }

        &:hover .job-card-title {
            color: $color-white;
            transition: 0s;
        }

        &:hover .job-card-desc {
            color: $color-text-dark-mode;
            transition: 0s;
        }
    }

    .job-card-1 {
        .notification {
            position: absolute;
            left: calc(100% + 15px);
            bottom: 0px;
        }
    }

    .job-card-4 {
        .notification {
            position: absolute;
            left: calc(100% + 24px);
            bottom: 0px;
        }
    }
}


@media (min-width: 769px) and (max-width: 1280px) {
    .jobs .job-cards {
        .job-card {
            width: 38.97vw;
            height: 18.65vw;

            .job-card-content {
                margin: auto;
                margin-left: 3.81vw;

                .job-card-title {
                    font-size: 2.34vw;
                    line-height: 3.13vw;
                }

                .job-card-desc {
                    font-size: 1.56vw;
                }

                .small-arrow {
                    margin-top: 1.76vw;
                }
            }

            .job-card-image {
                border-radius: 28px;
                width: 14.65vw;
                height: 14.65vw;
                background-size: contain;
            }
        }
    }
}


@media (max-width: 768px) {
    .jobs .job-cards {
        margin-top: 48px;
        margin-left: 0px;

        .job-card {
            margin-bottom: 16px;
            width: 91.45vw;
            height: 46.67vw;
    
            border-radius: 24px 0 0 24px;

            padding: 12px 0;

            .job-card-content {
                margin: auto;
                margin-left: 10vw;

                .job-card-title {
                    font-size: 20px;
                    line-height: 32px;
                }

                .small-arrow {
                    margin-top: 19px;
                }
            }

            .job-card-image {
                border-radius: 28px 0 0 28px;
                width: 28.53vw;
                height: 40vw;
                background-size: 40vw;
            }
        }
    }
}