@import './hero-header/navigation';
@import './hero-header/content';

.hero-header {
    //height: 1024px;
    box-sizing: border-box;
    padding-top: 64px;
    padding-bottom: 80px;
    background-image: url("../images/line-1.svg");
    background-repeat: no-repeat;
    background-position-x: 321px;
    position: relative;
    z-index: -5;
}

@media (max-width: 768px) {
    .hero-header {
        padding-bottom: 0px;
    }
}

@media (max-width: 1439px) {
    .hero-header {
        background-image: none;
    }
}