@import './jobs/jobs-logo-headline-and-button';
@import './jobs/job-cards';

.jobs {
    margin-top: 30px;

    background: url('../images/line-7.png') top left;
    background-repeat: no-repeat;
    background-position-x: 328px;

    .container {
        display: flex;

        max-width: 1170px;
        padding-top: 128px;
        padding-bottom: 128px;
    }
}


@media (min-width: 769px) and (max-width: 1280px) {
    .jobs .container {
        padding-top: 8.59vw;
    }
}


@media (max-width: 768px) {
    .jobs .container {
        flex-direction: column;
        padding-top: 16px;
        padding-bottom: 64px;
    }
}