@import '../components/who-we-are/who-we-are-logo-headline-and-arrows';
@import '../components/who-we-are/years-and-computer.scss';
@import '../components/who-we-are/design-team';

.who-we-are {
    //height: 1710px;
    position: relative;

    background: url('../images/round-bg-gradient.svg') top right;
    background-repeat: no-repeat;

    box-sizing: border-box;

    .dark-bg {
        width: 100%;
        height: calc(100% - 40px);
        position: absolute;
        top: 40px;
        z-index: -1;

        background: $color-dark url('../images/line-2.svg') top left;
        background-repeat: no-repeat;        
    }

    .container {
        max-width: 1170px;
        padding-top: 168px;
        padding-bottom: 8.88%;
    }
}

@media (max-width: 768px) {
    .who-we-are {
        background-image: none;
    }
}