@import "./variables";

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/*@font-face {
  font-family: "SF Pro Display";
  src: url('../SFPRODISPLAYREGULAR.OTF');
}
html {font-family: "SF Pro Display";}*/


/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {font-family: 'Montserrat', sans-serif;}*/

//reset css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	//font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//my css
button {
    padding: 0;
}

.text-primary {
    color: $color-primary;
}

.text-dark-mode {
    color: $color-text-dark-mode;
}

.text-deactivated {
    color: $color-text-deactivated;
}

.text-white {
    color: $color-white;
}

//media query containers
@media (min-width: 1441px) {
    .container {
        padding-left: 135px;
        padding-right: 135px;
        margin: 0 auto;
    }
}

@media (max-width: 1440px) and (min-width: 769px) {
    .container {
        padding-left: 9.37%;
        padding-right: 9.37%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: 8.53%;
        padding-right: 8.53%;
        margin: 0 auto;
    }

    .div-line {
        display: none;
    }
}

@media (min-width: 1441px) {
    .bigger-container {
        padding-left: 72px;
        padding-right: 72px;
        margin: 0 auto;
    }
}

@media (max-width: 1440px) and (min-width: 769px) {
    .bigger-container {
        padding-left: 5%;
        padding-right: 5%;
        margin: 0 auto;
    }
}



.container, .bigger-container {
    //background-color: pink;
    //z-index: -10;
}