@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
/*@font-face {
  font-family: "SF Pro Display";
  src: url('../SFPRODISPLAYREGULAR.OTF');
}
html {font-family: "SF Pro Display";}*/
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {font-family: 'Montserrat', sans-serif;}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
}

.text-primary {
  color: #5468E7;
}

.text-dark-mode {
  color: #8B8B8B;
}

.text-deactivated {
  color: #ADADAD;
}

.text-white {
  color: #FFFFFF;
}

.navbar {
  padding: 0 72px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar img {
  width: 159px;
  height: 40px;
}
.navbar ul {
  width: 392px;
  height: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar ul li {
  font-weight: 600;
}
.navbar ul .notification {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
  position: absolute;
  left: calc(100% + 8px);
  top: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.navbar button {
  width: 180px;
  height: 64px;
  background-color: #232340;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.hero-header .content {
  position: relative;
  width: 1195px;
  height: 722px;
  margin: 94px auto 0;
  background: url("../images/round-bg.svg") bottom right;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 25px);
  text-align: right;
}
.hero-header .content .computer-image {
  margin-top: 62px;
  display: inline-block;
}

.content-text {
  position: absolute;
  margin-top: 16px;
  width: 467px;
  height: 548px;
  text-align: left;
}
.content-text .stand-out {
  height: 300px;
  font-size: 84px;
  font-weight: 700;
  line-height: 100.24px;
  color: #232340;
}
.content-text .agency {
  width: 367px;
  height: 96px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #606060;
}
.content-text button {
  margin-top: 48px;
  width: 180px;
  height: 64px;
  background-color: #5468E7;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.button-scroll-down {
  width: 158px;
  height: 48px;
  position: absolute;
  bottom: 0%;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #8B8B8B;
}
.button-scroll-down .arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #C897E4 url("../images/arrow-down.png");
}

.hero-header {
  height: 1024px;
  box-sizing: border-box;
  padding-top: 64px;
  background-image: url("../images/line-1.svg");
  background-repeat: no-repeat;
  background-position-x: 321px;
}

.who-we-are .who-we-are-logo-headline-and-arrows {
  display: flex;
  justify-content: space-between;
}
.who-we-are .who-we-are-logo-headline-and-arrows .logo {
  flex-shrink: 0;
  width: 90px;
}
.who-we-are .who-we-are-logo-headline-and-arrows .logo img {
  width: 24px;
  height: 24px;
}
.who-we-are .who-we-are-logo-headline-and-arrows .headline-and-arrows {
  width: 970px;
  min-height: 192px;
  display: flex;
  justify-content: space-between;
}
.who-we-are .who-we-are-logo-headline-and-arrows .headline-and-arrows .headline {
  max-width: 697px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.who-we-are .who-we-are-logo-headline-and-arrows .headline-and-arrows .headline .tag-line {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
}
.who-we-are .who-we-are-logo-headline-and-arrows .headline-and-arrows .headline .tag-line div:nth-child(1) {
  margin-right: 24px;
  color: #8B8B8B;
}
.who-we-are .who-we-are-logo-headline-and-arrows .headline-and-arrows .headline .tag-line div:nth-child(2) {
  color: #FFFFFF;
}
.who-we-are .who-we-are-logo-headline-and-arrows .headline-and-arrows .headline .main-text {
  margin-top: 24px;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  color: #FFFFFF;
}
.who-we-are .who-we-are-logo-headline-and-arrows .headline-and-arrows .arrows {
  width: 144px;
  height: 64px;
  margin-top: 48px;
  margin-left: 32px;
  display: flex;
  justify-content: space-between;
}
.who-we-are .who-we-are-logo-headline-and-arrows .headline-and-arrows .arrows .arrow {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-image: url("../images/arrow-right-white.png");
}
.who-we-are .who-we-are-logo-headline-and-arrows .headline-and-arrows .arrows .arrow:hover {
  background-color: #5468E7;
}
.who-we-are .who-we-are-logo-headline-and-arrows .headline-and-arrows .arrows .arrow-left {
  transform: rotate(180deg);
}

.years-and-computer {
  margin-top: 83px;
  display: flex;
  justify-content: space-between;
}
.years-and-computer .years {
  flex-shrink: 0;
  width: 90px;
  max-height: 528px;
  margin-top: 45px;
  margin-bottom: 117px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #8B8B8B;
}
.years-and-computer .years .y2020 {
  position: relative;
}
.years-and-computer .years .y2020 .pagination {
  position: absolute;
  top: -366px;
  left: -62px;
}
.years-and-computer .years .y2020 .point-line {
  position: absolute;
  top: 5px;
  left: 65px;
}
.years-and-computer .computer-image img {
  width: 100%;
}

.design-team {
  margin-top: 49px;
  display: flex;
  justify-content: space-between;
}
.design-team .line-space {
  margin-top: 41px;
  flex-shrink: 0;
  width: 90px;
}
.design-team .text-and-number {
  flex-basis: 970px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.design-team .text-and-number .text-content {
  max-width: 468px;
}
.design-team .text-and-number .text-content p:nth-child(1) {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  color: #FFFFFF;
  position: relative;
}
.design-team .text-and-number .text-content p:nth-child(1) img {
  position: absolute;
  top: 0px;
  left: -198px;
}
.design-team .text-and-number .text-content p:nth-child(2) {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #8B8B8B;
}
.design-team .text-and-number .text-content button {
  margin-top: 40px;
  width: 180px;
  height: 64px;
  background-color: #5468E7;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.design-team .text-and-number .number {
  width: 402px;
  height: 402px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #232340;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.design-team .text-and-number .number p {
  color: #FFFFFF;
}
.design-team .text-and-number .number p:nth-child(1) {
  font-size: 200px;
  font-weight: 600;
}
.design-team .text-and-number .number p:nth-child(2) {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.who-we-are {
  position: relative;
  background: url("../images/round-bg-gradient.svg") top right;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.who-we-are .dark-bg {
  width: 100%;
  height: calc(100% - 40px);
  position: absolute;
  top: 40px;
  z-index: -1;
  background: #232340 url("../images/line-2.svg") top left;
  background-repeat: no-repeat;
}
.who-we-are .container {
  padding: 168px 9.1% 8.88%;
}

.what-we-do .what-we-do-logo-headline-and-arrows {
  display: flex;
  justify-content: space-between;
}
.what-we-do .what-we-do-logo-headline-and-arrows .logo {
  flex-shrink: 0;
  width: 90px;
}
.what-we-do .what-we-do-logo-headline-and-arrows .logo img {
  width: 24px;
  height: 24px;
}
.what-we-do .what-we-do-logo-headline-and-arrows .headline-and-arrows {
  width: 970px;
  min-height: 192px;
  display: flex;
  justify-content: space-between;
}
.what-we-do .what-we-do-logo-headline-and-arrows .headline-and-arrows .headline {
  max-width: 697px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.what-we-do .what-we-do-logo-headline-and-arrows .headline-and-arrows .headline .tag-line {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
}
.what-we-do .what-we-do-logo-headline-and-arrows .headline-and-arrows .headline .tag-line div:nth-child(1) {
  margin-right: 24px;
  color: #5468E7;
}
.what-we-do .what-we-do-logo-headline-and-arrows .headline-and-arrows .headline .tag-line div:nth-child(2) {
  color: #5468E7;
}
.what-we-do .what-we-do-logo-headline-and-arrows .headline-and-arrows .headline .main-text {
  margin-top: 24px;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  color: #232340;
}
.what-we-do .what-we-do-logo-headline-and-arrows .headline-and-arrows .arrows {
  width: 144px;
  height: 64px;
  margin-top: 48px;
  margin-left: 32px;
  display: flex;
  justify-content: space-between;
}
.what-we-do .what-we-do-logo-headline-and-arrows .headline-and-arrows .arrows .arrow {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-image: url("../images/arrow-right.png");
}
.what-we-do .what-we-do-logo-headline-and-arrows .headline-and-arrows .arrows .arrow:hover {
  background-color: #5468E7;
  background-image: url("../images/arrow-right-white.png");
}
.what-we-do .what-we-do-logo-headline-and-arrows .headline-and-arrows .arrows .arrow-left {
  transform: rotate(180deg);
}

.cards {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
.cards .card {
  width: 293px;
  height: 560px;
  background-color: #FFFFFF;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.cards .card div {
  width: 180px;
  height: 200px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #5468E7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cards .card div img {
  width: 128px;
}
.cards .card:hover {
  transition: 1s;
  background-color: #5468E7;
}
.cards .card:hover div {
  transition: 1s;
  color: #FFFFFF;
}

.what-we-do .achievement {
  height: 786px;
  margin-top: 185px;
  display: flex;
  justify-content: space-between;
}
.what-we-do .achievement .phone-and-pagination {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.what-we-do .achievement .phone-and-pagination > img {
  margin-top: 28px;
  width: 100%;
}
.what-we-do .achievement .phone-and-pagination .pagination {
  width: 96px;
  display: flex;
  justify-content: space-between;
}
.what-we-do .achievement .content {
  width: 50%;
  height: 494px;
  margin-left: 9.3vw;
  margin-top: 132px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.what-we-do .achievement .content .headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.what-we-do .achievement .content .headline .logo-and-tag {
  display: flex;
}
.what-we-do .achievement .content .headline .logo-and-tag img {
  width: 24px;
}
.what-we-do .achievement .content .headline .logo-and-tag .tag-line {
  margin-left: 5.2vw;
  display: flex;
  justify-content: space-between;
}
.what-we-do .achievement .content .headline .logo-and-tag .tag-line p {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.what-we-do .achievement .content .headline .logo-and-tag .tag-line p:nth-child(1) {
  color: #8B8B8B;
}
.what-we-do .achievement .content .headline .logo-and-tag .tag-line p:nth-child(2) {
  margin-left: 24px;
  color: #232340;
}
.what-we-do .achievement .content .headline .main-text {
  margin-top: 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
}
.what-we-do .achievement .content .number-and-line .number {
  font-size: 200px;
  font-weight: 600;
  line-height: 238px;
  color: #5468E7;
}
.what-we-do .achievement .content .number-and-line .line {
  display: flex;
  align-items: baseline;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #000000;
}
.what-we-do .achievement .content .number-and-line .line img {
  width: 24px;
  margin-right: 24px;
}

.what-we-do {
  position: relative;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
  background-repeat: no-repeat;
}
.what-we-do .line-3 {
  width: 44.5%;
  height: 819px;
  background: url("../images/line-3.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 7.9%;
  z-index: -1;
}
.what-we-do .line-4 {
  display: none;
  width: 518px;
  height: 819px;
  background: url("../images/line-4.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 402px;
  z-index: -1;
}
.what-we-do .container {
  padding: 152px 9.1% 8.88%;
}

.works-logo-headline-and-button {
  display: flex;
  justify-content: space-between;
}
.works-logo-headline-and-button .logo {
  flex-shrink: 0;
  width: 90px;
}
.works-logo-headline-and-button .logo img {
  width: 24px;
  height: 24px;
}
.works-logo-headline-and-button .headline-and-button {
  width: 970px;
  min-height: 192px;
  display: flex;
  justify-content: space-between;
}
.works-logo-headline-and-button .headline-and-button .headline {
  max-width: 670px;
  display: flex;
  flex-direction: column;
}
.works-logo-headline-and-button .headline-and-button .headline .tag-line {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
}
.works-logo-headline-and-button .headline-and-button .headline .tag-line div:nth-child(1) {
  margin-right: 24px;
  color: #5468E7;
}
.works-logo-headline-and-button .headline-and-button .headline .tag-line div:nth-child(2) {
  color: #5468E7;
}
.works-logo-headline-and-button .headline-and-button .headline .main-text {
  margin-top: 24px;
  font-size: 80px;
  font-weight: 700;
  line-height: 100px;
  color: #232340;
}
.works-logo-headline-and-button .headline-and-button .headline .desc-text {
  width: 520px;
  margin-top: 40px;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: #606060;
}
.works-logo-headline-and-button .headline-and-button .button button {
  margin-top: 49px;
  margin-left: 32px;
  width: 166px;
  height: 64px;
  background-color: #5468E7;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.works .featured-work {
  margin-top: 181px;
  height: 540px;
  position: relative;
}
.works .featured-work .text-content button {
  margin-top: 46px;
  width: 166px;
  height: 40px;
  background-color: #908CFF;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #FFFFFF;
}
.works .featured-work .text-content .main-text {
  margin-top: 24px;
  width: 467px;
  font-size: 36.4px;
  font-weight: 700;
  line-height: 48px;
  color: #000000;
}
.works .featured-work .text-content .desc-text {
  margin-top: 32px;
  width: 234px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #606060;
}
.works .featured-work .image-content {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 301px;
}
.works .featured-work .image-content .button-view {
  position: absolute;
  left: 32px;
  bottom: 52px;
  width: 64px;
  height: 64px;
  background-color: #232340;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}
.works .featured-work .image-content .arrow {
  position: absolute;
  top: 142px;
  right: -32px;
  width: 64px;
  height: 64px;
  background: #5468E7 url("../images/arrow-right-white.png");
  border: none;
  border-radius: 50%;
}

.works .portfolio {
  margin-top: 144px;
  position: relative;
}
.works .portfolio .portfolio-card {
  display: flex;
  flex-direction: column;
}
.works .portfolio .portfolio-card .main-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: #232340;
}
.works .portfolio .portfolio-card .image-and-arrow {
  margin-top: 40px;
  border-radius: 24px;
  position: relative;
}
.works .portfolio .portfolio-card .image-and-arrow .portfolio-arrow {
  position: absolute;
  bottom: 63px;
  right: -33px;
  width: 66px;
  height: 66px;
  background: url("../images/arrow-right-outline.png");
}
.works .portfolio .portfolio-card .desc-text {
  margin-top: 40px;
  width: 366px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #606060;
}
.works .portfolio .portfolio-card-1 {
  position: absolute;
  right: 0px;
  width: 366px;
}
.works .portfolio .portfolio-card-1 .image-and-arrow {
  height: 380px;
  background-color: #E8BEFF;
}
.works .portfolio .portfolio-card-1 .image-and-arrow .portfolio-image {
  position: absolute;
  bottom: -86px;
  right: -43px;
}
.works .portfolio .portfolio-card-2 {
  position: absolute;
  top: 295px;
  left: 0px;
  width: 470px;
}
.works .portfolio .portfolio-card-2 .image-and-arrow {
  height: 500px;
  background-color: #FFCE79;
}
.works .portfolio .portfolio-card-2 .image-and-arrow .portfolio-image {
  position: absolute;
  bottom: 24px;
  right: -81px;
}
.works .portfolio .portfolio-card-3 {
  position: absolute;
  top: 1019px;
  right: 100px;
  width: 467px;
}
.works .portfolio .portfolio-card-3 .image-and-arrow {
  height: 506px;
  background-color: #D1ECFD;
}
.works .portfolio .portfolio-card-3 .image-and-arrow .portfolio-image {
  height: 485px;
  position: absolute;
  bottom: -14px;
  right: -109px;
}
.works .portfolio .portfolio-card-4 {
  position: absolute;
  top: 1384px;
  left: 100px;
  width: 366px;
}
.works .portfolio .portfolio-card-4 .image-and-arrow {
  height: 506px;
  background-color: #FFADD0;
}
.works .portfolio .portfolio-card-4 .image-and-arrow .portfolio-image {
  position: absolute;
  bottom: 66px;
  right: 0px;
}

.works {
  height: 3232px;
  padding: 53px 9.36% 0px;
  position: relative;
}
.works .line-5 {
  width: 464px;
  height: 819px;
  background: url("../images/line-5.svg") top left;
  background-repeat: no-repeat;
  position: absolute;
  top: 715px;
  left: 0px;
  z-index: -1;
}
.works .line-6 {
  width: 874px;
  height: 323px;
  background: url("../images/line-6.png");
  background-repeat: no-repeat;
  opacity: 0.4;
  position: absolute;
  bottom: 1081px;
  right: 0px;
  z-index: -1;
}

.cta {
  padding: 128px 5%;
  height: 976px;
  box-sizing: border-box;
  background: url("../images/cta-background.png") center;
  background-repeat: no-repeat;
}
.cta .cta-container {
  position: relative;
}
.cta .cta-container .cta-phone {
  margin-left: 63px;
}
.cta .cta-container .cta-logo {
  position: absolute;
  top: 152px;
  left: 163px;
}
.cta .cta-container .cta-content {
  position: absolute;
  top: 134px;
  left: 665px;
  width: 367px;
  display: flex;
  flex-direction: column;
}
.cta .cta-container .cta-content .tag-line {
  display: flex;
  font-size: 17.5px;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
}
.cta .cta-container .cta-content .tag-line div:first-child {
  margin-right: 24px;
}
.cta .cta-container .cta-content .main-text {
  margin-top: 24px;
  font-size: 59px;
  font-weight: 700;
  line-height: 72px;
  color: #FFFFFF;
}
.cta .cta-container .cta-content button {
  margin-top: 52px;
  width: 201px;
  height: 64px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #5468E7;
}

.jobs-logo-headline-and-button {
  display: flex;
}
.jobs-logo-headline-and-button .logo {
  flex-shrink: 0;
  width: 100px;
}
.jobs-logo-headline-and-button .logo img {
  width: 24px;
  height: 24px;
}
.jobs-logo-headline-and-button .headline-and-button {
  width: 468px;
  min-height: 192px;
  display: flex;
  flex-direction: column;
}
.jobs-logo-headline-and-button .headline-and-button .tag-line {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
}
.jobs-logo-headline-and-button .headline-and-button .tag-line div:nth-child(1) {
  margin-right: 23px;
  color: #5468E7;
}
.jobs-logo-headline-and-button .headline-and-button .tag-line div:nth-child(2) {
  color: #5468E7;
}
.jobs-logo-headline-and-button .headline-and-button .main-text {
  margin-top: 24px;
  font-size: 105px;
  font-weight: 700;
  line-height: 131px;
  color: #232340;
}
.jobs-logo-headline-and-button .headline-and-button .desc-text {
  width: 382px;
  margin-top: 40px;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: #606060;
}
.jobs-logo-headline-and-button .headline-and-button .button-available-jobs {
  margin-top: 72px;
  width: 158px;
  height: 48px;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobs-logo-headline-and-button .headline-and-button .button-available-jobs .arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transform: rotate(-90deg);
  background: #C897E4 url("../images/arrow-down.png");
}
.jobs-logo-headline-and-button .headline-and-button .button-available-jobs .button-text {
  width: 94px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #8B8B8B;
  text-align: left;
}

.jobs .job-cards {
  margin-left: 34px;
  flex-grow: 1;
}
.jobs .job-cards .job-card {
  margin-bottom: 21px;
  height: 247px;
  background-color: #FFFFFF;
  border-radius: 40px;
  transition: 0.8s;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.jobs .job-cards .job-card .job-card-content {
  margin: 48px 0 48px 48px;
  transition: 0s;
}
.jobs .job-cards .job-card .job-card-content .job-card-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #232340;
  position: relative;
}
.jobs .job-cards .job-card .job-card-content .job-card-title .notification {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #FFFFFF;
}
.jobs .job-cards .job-card .job-card-content .job-card-desc {
  margin-top: 4px;
  font-size: 16.5px;
  font-weight: 400;
  line-height: 32px;
  color: #606060;
}
.jobs .job-cards .job-card .job-card-content .small-arrow {
  margin-top: 29px;
  width: 20px;
  height: 14px;
  background-image: url("../images/arrow-right-small.png");
  background-size: cover;
}
.jobs .job-cards .job-card:hover {
  background-color: #232340;
  transition: 0.8s;
}
.jobs .job-cards .job-card:hover .small-arrow {
  background-image: url("../images/arrow-right-small-white.png");
}
.jobs .job-cards .job-card:hover .job-card-title {
  color: #FFFFFF;
  transition: 0s;
}
.jobs .job-cards .job-card:hover .job-card-desc {
  color: #8B8B8B;
  transition: 0s;
}
.jobs .job-cards .job-card-1 .notification {
  position: absolute;
  left: calc(100% + 15px);
  bottom: 0px;
}
.jobs .job-cards .job-card-4 .notification {
  position: absolute;
  left: calc(100% + 24px);
  bottom: 0px;
}

.jobs {
  margin-top: 30px;
  padding: 128px 9.3%;
  background: url("../images/line-7.png") top left;
  background-repeat: no-repeat;
  background-position-x: 328px;
  display: flex;
}

.cta-footer-contact {
  margin: 0px 5%;
  border-radius: 40px;
  background: #5468E7 url("../images/line-8.png");
  background-repeat: no-repeat;
  background-position-x: 119px;
  display: flex;
  flex-direction: column;
}
.cta-footer-contact .cta-footer-headline {
  margin: 128px auto 176px;
  width: 568px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-footer-contact .cta-footer-headline .logo {
  width: 24px;
}
.cta-footer-contact .cta-footer-headline .tag-line {
  margin-top: 40px;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
}
.cta-footer-contact .cta-footer-headline .tag-line img {
  margin-right: 12px;
}
.cta-footer-contact .cta-footer-headline .main-text {
  margin-top: 40px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #FFFFFF;
  text-align: center;
}
.cta-footer-contact .cta-footer-other-groups {
  display: flex;
}
.cta-footer-contact .cta-footer-other-groups .lets-talk {
  flex-basis: 50%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.cta-footer-contact .cta-footer-other-groups .lets-talk p {
  margin: 120px 118px 175px 163px;
  font-size: 58px;
  font-weight: 700;
  line-height: 72px;
  color: #FFFFFF;
}
.cta-footer-contact .cta-footer-other-groups .invest-in {
  flex-basis: 50%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.cta-footer-contact .cta-footer-other-groups .invest-in .invest-in-container {
  margin: 120px 65px 179px 117px;
}
.cta-footer-contact .cta-footer-other-groups .invest-in .invest-in-container .speech-bubble {
  width: 103px;
}
.cta-footer-contact .cta-footer-other-groups .invest-in .invest-in-container .text-and-arrow {
  margin-top: 29px;
  display: flex;
  align-items: flex-start;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #FFFFFF;
}
.cta-footer-contact .cta-footer-other-groups .invest-in .invest-in-container .text-and-arrow img {
  flex-shrink: 0;
}

.cta-footer .cta-footer-content {
  margin: 128px auto 0px;
  width: 565px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-footer .cta-footer-content img {
  width: 191px;
}
.cta-footer .cta-footer-content p {
  margin-top: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #606060;
}
.cta-footer .cta-footer-content ul {
  margin-top: 48px;
  width: 392px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: #8B8B8B;
}
.cta-footer .cta-footer-bottom {
  margin: 48px 9.4% 32px;
  height: 51px;
  border-top: 1px solid #D8D8D8;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cta-footer .cta-footer-bottom .copyright {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #ADADAD;
}
.cta-footer .cta-footer-bottom .social-media {
  width: 233px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}/*# sourceMappingURL=style.css.map */