@import '../../abstract/variables';

.what-we-do .achievement {
    margin-top: 185px;

    display: flex;
    justify-content: space-between;

    .phone-and-pagination {
        height: 758px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & > img{
            margin-top: 28px;
            max-width: 100%;
        }

        .pagination {
            width: 96px;

            display: flex;
            justify-content: space-between;
        }
    }

    .content {
        width: 50%;
        height:494px;
        margin-left: 9.3vw;
        margin-top: 132px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .headline {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .logo-and-tag {
                display: flex;

                .logo {
                    width: 24px
                }

                .tag-line {
                    margin-left: 5.2vw;

                    display: flex;
                    justify-content: space-between;

                    p {
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 24px;
                        &:nth-child(1) {color: $color-text-dark-mode;}
                        &:nth-child(2) {margin-left: 24px; color: $color-dark;}
                    }
                }
            }

            .main-text {
                margin-top: 40px;

                font-size: 32px;
                font-weight: 700;
                line-height: 40px;
                color: $color-text-dark;
            }
        }

        .number-and-line {
            .number {
                font-size: 200px;
                font-weight: 600;
                line-height: 238px;
                color: $color-primary;
            }

            .line {
                display: flex;
                align-items: baseline;

                img {
                    width: 24px;
                    margin-right: 24px;
                }

                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
                color: $color-text-dark;
            }
        }
    }
}


@media (min-width: 769px) and (max-width: 1280px) {
    .what-we-do .achievement {
        margin-top: 98px;

        .phone-and-pagination {
            height: 52.64vw;

            & > img {
                //max-width: 467px;
            }
        }

        .content {
            margin-top: 9.17vw;
            height: auto;
            justify-content: flex-start;

            .number-and-line {
                .number {
                    margin-top: 7.81vw;

                    font-size: 140px;
                    line-height: 167px;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .what-we-do .achievement {
        margin-top: 56px;
        flex-direction: column-reverse;

        .phone-and-pagination {
            margin-top: 36px;
            height: auto;


            .pagination {
                margin-top: 32px;

                & > img {
                    max-width: 467px;
                    width: auto;
                }
            }
        }

        .content {
            margin-left: 0;
            margin-top: 0;
            width: auto;

            .headline .logo-and-tag {
                .logo {
                    display: none;
                }
    
                .tag-line {
                    margin-left: 0;
                }
            }

            .number-and-line {
                .number {
                    font-size: 37.33vw;
                    line-height: 1;
                }
            }
        }
    }
}