@import '../../abstract/variables';

.what-we-do .what-we-do-logo-headline-and-arrows {
    display: flex;
    justify-content: space-between;

    .logo {
        flex-shrink: 0;
        width: 90px;
        
        img {
            width: 24px;
            height: 24px;
        }
    }

    .headline-and-arrows {
        width: 970px;
        min-height: 192px;

        display: flex;
        justify-content: space-between;

        .headline {
            max-width: 697px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .tag-line {
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;

                display: flex;

                div {
                    &:nth-child(1) {
                        margin-right: 24px;
                        color: $color-primary;
                    }
                    &:nth-child(2) {color: $color-primary;}
                }
            }

            .main-text {
                margin-top: 24px;

                font-size: 64px;
                font-weight: 700;
                line-height: 72px;
                color: $color-dark;
            }
        }

        .arrows {
            width: 144px;
            height: 64px;
            margin-top: 48px;
            margin-left: 32px;
    
            display: flex;
            justify-content: space-between;

            .arrow {
                width: 64px;
                height: 64px;
                border-radius: 50%;

                background-image: url('../images/arrow-right.png');

                &:hover {
                    background-color: $color-primary;
                    background-image: url('../images/arrow-right-white.png');
                }
            }

            .arrow-left {
                transform: rotate(180deg);
            }
        }
    }   
}