@import '../../abstract/variables';

.hero-header .container {
    position: relative;
    max-width: 1170px;
    padding-top: 94px;

    text-align: right;

    .wrapper {
        width: 899px;
        height: 722px;
        position: absolute;
        top: 94px;
        right: 135px;
        z-index: -1;

        .computer-image {
            height: 100%;
            background: url('../images/hero-img.png');
        }
    }
}

.content-text {
    //position: absolute;
    margin-top: 16px;
    width: 467px;
    text-align: left;

    .stand-out {
        font-size: 84px;
        font-weight: 700;
        line-height: 100.24px;
        color: $color-dark;
    }

    .agency {
        width: 367px;
        margin-top: 40px;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        color: $color-text-light-mode;
    }

    button {
        margin-top: 48px;
        @include set-button($color-primary)
    }
}

.button-scroll-down {
    width: 158px;
    height: 48px;
    margin-top: 110px;
    bottom: 0%;

    background: none;
    border: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: $color-text-dark-mode;

    .arrow {
        width: 48px;
        height: 48px;
        border-radius: 50%;

        background: $color-secondary url('../images/arrow-down.png');
    }
}

@media (max-width: 768px) {
    .hero-header .container {
        padding-top: 44px;

        .content-text {
            width: $mobile-max-width;

            .stand-out {
                font-size: 48px;
                line-height: 56px;
            }

            .agency {
                margin-top: 24px;
                width: $mobile-max-width;

                font-size: 15px;
                line-height: 28px;
            }
        }

        .wrapper {
            width: auto;
            height: 97.07vw;
            position: relative;
            right: 0;
            top: -35px;

            .computer-image {
                position: absolute;

                width: 100vw;
                height: 100%;
                background-size: cover;
                top: 0px;
                right: -8.53vw;
                bottom: 0px;
            }
        }

        .button-scroll-down {
            display: none;
        }
    }
}

@media (min-width: 769px) and (max-width: 1280px) {
    .hero-header .container {
        .content-text {

            .stand-out {
                font-size: 64px;
                line-height: 56px;
            }

            .agency {
                width: 261px;
            }
        }

        .wrapper {
            height: 50.1vw;
            right: 9.08vw;

            .computer-image {
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right;
            }
        }

        .button-scroll-down {
            margin-top: 56px;
        }
    }
}

@media (max-width: 1024px) {
    .hero-header {
        .content-text {
            button {
                margin-top: 24px;
                width: 160px;
                height: 56px;
            }
        }
    }
}