@import '../../abstract/variables';

.navbar {
    margin: 0 72px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 159px;
        height: 40px;
    }

    ul {
        width: 392px;
        height: 24px;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
        li {
            font-weight: 600;
        }
        .notification {
            width: 24px;
            height: 24px;
            border-radius: 12px;
            background: $gradient-1;

            position: absolute;
            left: calc(100% + 8px);
            top: -12px;

            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: 600;
        }
    }

    button {
        @include set-button($color-dark)
    }

}